.testTitle {
color: #000;
font-size: 30px;
font-weight: 700;
letter-spacing: -.1px;
line-height: 30px;
margin-bottom: 10px;
margin-top: .5rem;
padding-left: 15px;
display: flex;
align-items: center;
color: purple
}
